/* 
dark background (hero and footer)
#1F2937

Hero main text ("this website is awesome")
48px extra-bold #F9FAF8

Hero secondary text, Header Link Text
18px #E5E7EB

Header logo text
24px #F9FAF8

Button color, call to action background
#3882F6

information header text
36px extra-bold #1F2937

quote section background color
#E5E7EB

quote text
36px light italic #1F2937
*/

* {
  margin: 0;
}

figure img {
  width: 150px;
  height: 150px;
}

header section, .hero__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  padding: 1em;
  margin: 2em;
}

header, .hero, footer {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
}


header .logo {
  font-size: 1.5rem;
  color: #F9FAF8;
}

header nav li {
  padding: 0 .5em;
}

header ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

header a {
  font-size: 1rem;
  color: #E5E7EB;
}

.hero {
  display: flex;
  background-color: #1F2937;
}

.hero__description {
  max-width: 360px;
}

.hero__title {
  font-size: 2rem; 
  font-weight: 900;
  color: #F9FAF8;
}

.hero__text {
  font-size: 1rem; 
  color: #E5E7EB;
}

.info {
  display: flex;
  justify-content: center;
}

.info__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 3em;
  margin: 2em;
}

.info__title {
  font-size: 2rem;
  font-weight: 900;
  color: #1F2937;
  padding: 1em;
}

.info__images {
  display: flex;
  flex-wrap: wrap;
}

.info__figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.info__figure figcaption {
  text-align: center;
}

.info__img {
  border: 3px solid #3882F6;
  border-radius: 9px;
}

.testimonials {
  background-color: #E5E7EB;
}

.testimonials__content {
  display: flex;
  justify-content: center;
  padding: 5em 3em;
  margin: 2em;
}

.testimonials__figure {
  max-width: 600px;
}

.testimonials__quote p {
  font-size: 2rem;
  font-weight: 100;
  font-style: italic;
  color: #1F2937;
}

.testimonials__caption {
  font-weight: 900;
  margin-top: 1em;
  text-align: right;
}

button, .cta-banner {
  background-color: #3882F6;
  color: #F9FAF8;
}

button {
  border-radius: 5px;
  padding: 5px 20px;
  margin: .5em;
}

.cta {
  display: flex;
  justify-content: center;
  margin: 5em 1em;
}

.cta-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
  max-width: 800px;
  padding: 1em;
  border-radius: 9px;
}

.cta-banner button {
  border: 2px solid #F9FAF8;
}

.cta__figure {
  margin: .5em;
}

footer section {
  margin: 3em;
  color: #F9FAF8;
}